#root {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem;
    text-align: center;
    border: 1px solid #000;
    height: 400px; 
    border-radius:1%;
    background-color:rgb(163, 239, 204);

    
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    border: 1rem;
  }
  

  button {
    height: 20px;
    width: 90px;
  }

  .change {
    width: 40px;
  }

  input {
    margin: 20px;
  }

  